DB_HOST=localhost
DB_PORT=5432
DB_NAME=olist
DB_USER=postgres
DB_PASSWORD=your_password

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=olist

PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_password
